$primary-color: hsl(229, 53%, 53%);

.navbar-brand {
  .navbar-item {
    background-color: $primary-color !important;
  }
}

.main {
  @media (max-width: 1023px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.navbar-menu {
  .navbar-end {
    .navbar-item {
      &.active {
        background-color: hsl(229, 53%, 48%);
      }
    }
  }
  @media (max-width: 1023px) {
    position: absolute;
    left: 0;
    width: 100%;
    .navbar-end {
      .navbar-item {
        &.active {
          background-color: #f2f2f2;
        }
      }
    }
  }
}

.characters-container,
.episodes-main,
.locations {
  .search {
    width: 50% !important;
  }
  .searchInput,
  .searchBtn {
    height: 3rem !important;
  }
  @media (max-width: 48rem) {
    .search {
      width: 100% !important;
    }
  }

  .characters,
  .episode-main,
  .location {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1.25rem;
    .card {
      cursor: pointer;
      transition: 0.3s ease all;
      &:hover {
        box-shadow: 0px 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.5rem);
      }
      .card-image {
        .image {
          img {
            object-fit: cover !important;
            width: 100%;
          }
        }
      }
    }
  }
}

.episodes,
.residents,
.characters-flex {
  display: flex !important;
  flex-wrap: wrap;
  .episode,
  .resident,
  .character-flex {
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 0.3s ease all;
    cursor: pointer;
    border-radius: 0.25rem;
    &:hover {
      background-color: hsl(229, 53%, 30%);
    }
  }
}

.loading {
  text-align: center !important;
  .circle {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    text-align: center;
    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 3rem;
      height: 3rem;
      margin: 0.5rem;
      border: 0.3rem solid #fff;
      border-radius: 50%;
      animation: circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $primary-color transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 48rem) {
  .card {
    .card-inner {
      flex-direction: column !important;
    }
  }

  .pagination {
    flex-direction: column !important;
    .pagination-stats {
      margin-top: 1.5rem;
    }
  }
}
